<div id="side-bar" class="fade-in">
  <i class="fa fa-lightbulb-o light"><span class="light-text">on</span></i>
  <div id="fan">
    <%= image_tag 'fan18.png', class: "fan-img" %>
    <p class="fan-text">on</p>
  </div>
</div>