<main>
  <section class="profile">
    <div class="profile-header"></div>
    <div class="profile-content">
      <% if current_user  %>
          <%= image_tag current_user.large_image %>
          <h1><%= current_user.name %></h1>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
          <img src="https://en.gravatar.com/userimage/40002851/299e54a49b785e8c8e1321ae128d5694.jpg?size=200" alt=""/>
          <h1>Adam Rais</h1>
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
      <% end %>
    </div>
    <ul aria-label="Statistics">
      <li>383<span>followers</span></li>
      <li>239<span>following</span></li>
    </ul>
  </section>
</main>