<main>
  <section class="profile">
    <div class="profile-header"></div>
    <div class="profile-content"><img src="https://en.gravatar.com/userimage/40002851/299e54a49b785e8c8e1321ae128d5694.jpg?size=200" alt="Portret of Sara Robertson"/>
      <h1>Adam Rais</h1>
    </div>
    <ul aria-label="Statistics">
      <li>383<span>followers</span></li>
      <li>239<span>following</span></li>
    </ul>
  </section>
</main>